<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Race Calendar | GTHub</title>
  <%- include partials/styles.ejs %>
</head>
<body>
  <nav class="navbar navbar--clear text--primary">
    <button class='btn text--primary' id='menuOpen'><i data-feather='menu'></i></button>
    <h3 class='text--upper'>race calendar</h3>
  </nav>
  <main class="container container--fluid">
    <section class="gray p-v-5">
      <main class="container">
        <h3 class='text--light text--upper'><i data-feather="search"></i> Search</h3>
        <form action="" class="form--inline">
          <div class="form--field">
            <label for="series_form">Series</label>
            <input class='form--input' type="text" name="series" id="series_form">
          </div>
          <div class="form--field">
            <label for="track_form">Track</label>
            <input class='form--input' type="text" name="track" id="track_form">
          </div>
          <div class="form--field">
            <label for="date_form">Date</label>
            <input class='form--input' type="date" name="date" id="date_form">
          </div>
        </form>
      </main>
    </section>
    <section class="container">
      <h3>Events</h3>
      <% events.forEach(event => { %>
          <p>
            <b><%= event.name %></b> (<%= event.Track.name %>) <%= event.startdate %> - <%= event.enddate %><br />
            <ul>
                <% event.EventSessions.forEach(session => { %>
                    <li>
                        <%= session.name %> <i>(<%= session.Series.name %>)</i> <%= session.starttime %>
                    </li>
                <% }); %>
            </ul>
          </p>
      <% }); %>

      <h3>Series</h3>
      <ul>
          <% series.forEach(s => { %>
              <li>
                  <b><%= s.name %></b> (<%= s.homepage %>)
              </li>
              <% }); %>
      </ul>
      <form action="/calendar/series/create" method="POST">
          <input aria-label="Name" type="text" name="name" placeholder="Name" required>
          <br />
          <input aria-label="Logo" type="text" name="logo" placeholder="Logo">
          <br />
          <input aria-label="Homepage" type="text" name="homepage" placeholder="Homepage">
          <br />
          <button type="submit" class="btn btn--primary">CREATE</button>
      </form>
      <br />

      <h3>Tracks</h3>
      <ul>
          <% tracks.forEach(track => { %>
              <li>
                  <b><%= track.name %></b> (<%= track.location %>, <%= track.length %>km)
              </li>
          <% }); %>
      </ul>
      <form action="/calendar/track/create" method="POST">
          <input aria-label="Name" type="text" name="name" placeholder="Name" required>
          <br />
          <input aria-label="Location" type="text" name="location" placeholder="Location" required>
          <br />
          <input aria-label="Length" type="number" name="length" placeholder="Length" step="0.001" required>
          <br />
          <input aria-label="Map" type="text" name="map" placeholder="Map">
          <br />
          <button type="submit" class="btn btn--primary">CREATE</button>
      </form>
    </section>
  </main>
  <%- include partials/menu.ejs %>
  <%- include partials/scripts.ejs %>
</body>
</html>
